In [1]:
from itertools import combinations
from itertools import combinations_with_replacement
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LassoCV
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn import linear_model

# $Question\;(1)$

$(a)$

In [2]:
df = pd.read_csv("Credit.csv")
df

,ID,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331
...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian,560
396,397,13.364,3838,296,5,65,17,Male,No,No,African American,480
397,398,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian,138
398,399,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian,0
399,400,18.701,5524,415,5,64,7,Female,No,No,Asian,966

In [3]:
df.isna().any()
#Yields no missing observations

ID           False
Income       False
Limit        False
Rating       False
Cards        False
Age          False
Education    False
Gender       False
Student      False
Married      False
Ethnicity    False
Balance      False
dtype: bool

In [4]:
#Create dummies for:
  #cards, student, married, ethnicity

df.drop("ID",axis=1,inplace=True)
df.dropna()

#Dummy for Cards
df.loc[:,"Cards:2"] = [1 if x==2 else 0 for x in df["Cards"]]
df.loc[:,"Cards:3"] = [1 if x==3 else 0 for x in df["Cards"]]
df.loc[:,"Cards:4"] = [1 if x==4 else 0 for x in df["Cards"]]
df.loc[:,"Cards:5"] = [1 if x==5 else 0 for x in df["Cards"]]
df.loc[:,"Cards:6"] = [1 if x==6 else 0 for x in df["Cards"]]
df.loc[:,"Cards:7"] = [1 if x==7 else 0 for x in df["Cards"]]
df.loc[:,"Cards:8"] = [1 if x==8 else 0 for x in df["Cards"]]
df.loc[:,"Cards:9"] = [1 if x==9 else 0 for x in df["Cards"]]
df.drop(columns="Cards",inplace=True)

#Dummy for Student
df.loc[:,"Student"] = [1 if x=="Yes" else 0 for x in df["Student"]]

#Dummy for Married
df.loc[:,"Married"] = [1 if x=="Yes" else 0 for x in df["Married"]]

#Dummy for Ethnicity
df.loc[:,"Asian"] = [1 if x=="Asian" else 0 for x in df["Ethnicity"]]
df.loc[:,"African American"] = [1 if x=="African American" else 0 for x in df["Ethnicity"]]
df.drop(columns="Ethnicity",inplace=True)

#Dummy for Gender
df.loc[:,"Male"] = [1 if x=="Male" else 0 for x in df["Gender"]]
df.drop(columns="Gender",inplace=True)

VartoStdze = ["Income","Limit","Rating","Age","Education"]
scale = StandardScaler()
for i in VartoStdze:
    df[i]=scale.fit_transform(df[i].values.reshape(-1,1))

In [5]:
X = df.drop(columns = ['Balance'])
y = df['Balance']
Xnl = pd.DataFrame(PolynomialFeatures(2).fit_transform(X))

In [6]:
X_train, X_test, y_train, y_test = train_test_split(Xnl, y, test_size=0.33, random_state=1)

In [7]:
clf = linear_model.Lasso(alpha=0.5,fit_intercept=False,normalize=False,max_iter=10000)
lassomodel = clf.fit(X_train,y_train)
est = pd.DataFrame(lassomodel.coef_)

In [8]:
y_pred = clf.predict(X_train)
mean_squared_error(y_train, y_pred)

2238.4513957475992

In [10]:
clfcv = LassoCV(cv=5, random_state=0,max_iter=100000)
reg = clfcv.fit(Xnl, y)
y_pred = reg.predict(Xnl)
mean_squared_error(y,y_pred)

2673.5382976239257

In [11]:
lambdalist = (np.array(list(range(10,1000,10))))/1000
len(lambdalist)

CVn = []
for i in lambdalist:
  clf = linear_model.Lasso(alpha=i,fit_intercept=False,normalize=False,max_iter=100000)
  CVn.append(mean_squared_error(y,cross_val_predict(clf,Xnl,y,cv=5)))

In [12]:
CVn

[5048.244949164157,
 4907.852803251778,
 4794.744507803411,
 4747.824505399155,
 4724.189004277769,
 4705.070988049732,
 4694.314275837574,
 4678.629954911449,
 4661.79303459422,
 4670.026040991457,
 4656.868839120202,
 4643.684861836007,
 4630.541036909937,
 4618.579196732469,
 4605.833870275851,
 4597.004397642059,
 4587.896033717527,
 4576.70106973757,
 4567.067260620767,
 4553.59711505256,
 4538.506772575965,
 4524.731203759493,
 4511.230538650146,
 4495.518656419062,
 4483.64399367431,
 4470.239949996199,
 4464.88136174736,
 4454.923620798256,
 4445.676961567059,
 4435.088902128798,
 4424.26623392506,
 4416.131925421168,
 4406.944914939935,
 4399.902093476479,
 4393.162940894455,
 4387.2277529386665,
 4382.000360374149,
 4376.867025244553,
 4371.054339846351,
 4365.368194301848,
 4359.770437591196,
 4354.307118031785,
 4346.2020336777505,
 4339.853227535255,
 4338.08451796746,
 4331.8931854453185,
 4325.164259434307,
 4318.386422241788,
 4312.201777471877,
 4306.197266595489,
 4302.649235176333,
 4299.4780576965095,
 4297.025164983825,
 4296.140730456159,
 4295.1704033724955,
 4294.378812433213,
 4294.026853773825,
 4293.217815385964,
 4292.4085927403985,
 4291.571532526937,
 4290.693311268885,
 4289.924441944525,
 4289.569825325356,
 4288.333973717282,
 4287.252175543528,
 4286.600752772343,
 4286.320666873621,
 4286.3350975511685,
 4286.032465560597,
 4285.777722909914,
 4285.580255280117,
 4285.454917116103,
 4285.707146229181,
 4285.936206529466,
 4286.380543920956,
 4286.935088000139,
 4287.791562788086,
 4288.784085309619,
 4289.849948678115,
 4291.26138188419,
 4293.0229597063935,
 4294.201767225293,
 4295.380749903942,
 4296.814238941959,
 4298.415815008069,
 4300.148449354306,
 4302.086772703869,
 4303.981400692985,
 4305.848850630974,
 4307.870283501882,
 4309.807774509969,
 4311.907655854733,
 4314.604093512234,
 4316.234811358724,
 4317.795861446229,
 4319.528410840371,
 4321.33201820778,
 4323.247394243093,
 4325.381488908681]